body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

#root {
    display: flex;
    width: 100vw;
    height: 100vh;
    gap: 20px;
    box-sizing: border-box;
    background-color: var(--md-sys-color-surface);
}

#canvas-container {
    flex: 1;
}

#side-panel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: center;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    color: var(--md-sys-color-on-surface-variant);
    background-color: var(--md-sys-color-surface-container-highest);
    width: min-content;
    min-width: 30%;
    gap: 16px;
    overflow: hidden;
    border-radius: 24px;
}

#side-panel footer {
    align-self: center;
    flex-shrink: 0;
    flex-direction: row;
}

#side-panel-content {
    overflow-x: visible;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    flex: 1 0 auto;
}

#controls {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    padding-bottom: 8px;
    width: 100%;
}

#lattice-select {
    grid-column: 1 / 3;
}

#reset-camera-button {
    grid-column: 1 / 2;
    grid-row: 2;
}

#deselect-all-button {
    grid-column: 2 / 3;
    grid-row: 2;
}

#fill-option {
    grid-row: 3;
}

#connection-option {
    grid-row: 3;
}

#border-option {
    grid-row: 4;
}

#multiselect-option {
    grid-row: 4;
}

#lattice-atom-desc {
    flex: 1;
    min-height: 0;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

@media (max-width: 768px) {
    #root {
        flex-direction: column;
    }

    #side-panel {
        width: unset;
        height: 40%;
    }
}
